.collapseTable .MuiTableRow-head th {
  font-size: 13px;
  font-weight: 600;
}
.collapseTable .MuiTableBody-root td {
  font-size: 13px;
  padding: 8px;
}
.collapseTable .MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: #d4eafd;
}
.collapseTable .MuiTableRow-head th {
  background-color: #f2f2f2;
  padding: 8px;
}
.collapseTable .panelRow {
  background-color: #fafafa;
}
.collapseTable .hoverIcon .tableEditIcon {
  display: none;
  cursor: pointer;
}
.collapseTable .hoverIcon .tableDeleteIcon {
  display: none;
  cursor: pointer;
}
.collapseTable .hoverIcon:hover .tableEditIcon {
  display: inline-block;
  margin-left: 8px;
}
.collapseTable .hoverIcon:hover .tableDeleteIcon {
  display: inline-block;
}
