.gridTable .MuiTableRow-head th {
  padding: 8px !important;
  font-weight: 600;
  font-size: 13px;
  white-space: nowrap;
  border-bottom: none !important;
}
.gridTable .MuiTableHead-root {
  background: #f3f3f3 !important;
  border: none;
}
.gridTable .MuiTable-root tbody td {
  padding: 8px !important;
  border: none !important;
}
.gridTable .MuiTable-root tbody td.redColor {
  color:#ff2e2e;
}
.gridTable .MuiTable-root tbody td.orangeColor {
  color:#f5a81b;
}
.gridTable .MuiTable-root tbody tr.hoverIcon td:last-child {
  padding: 8px 40px 8px 8px !important;
}
.gridTable .MuiTable-root tbody tr:nth-child(even),
.gridTable .MuiTable-root tbody tr:nth-child(even):hover {
  background: #f9f9f9;
}

.gridTable .MuiTable-root tbody tr:nth-child(odd),
.gridTable .MuiTable-root tbody tr:nth-child(odd):hover {
  background: #fff;
}

.gridTable .MuiToolbar-root .MuiTextField-root .Mui-disabled {
  display: none;
}
.gridTable .MuiToolbar-root .MuiTextField-root {
  padding: 8px;
  background: #fff;
  border-radius: 25px;
}
.gridTable .MuiToolbar-root .MuiInput-underline:after,
.gridTable .MuiToolbar-root .MuiInput-underline:before {
  border-bottom: none !important;
}
.gridTable .MuiTable-root tbody .material-icons {
  font-size: 20px !important;
}
.gridTable
  .MuiTable-root
  tbody
  .MuiButtonBase-root:nth-child(1)
  .material-icons {
  color: #545871;
}
.gridTable
  .MuiTable-root
  tbody
  .MuiButtonBase-root:nth-child(2)
  .material-icons {
  color: #ff5a4e;
}
.gridTable .MuiTable-root tbody tr {
  height: auto !important;
}
.gridTable .MuiPaginationItem-page.Mui-selected {
  background-color: #1a81c4 !important;
  border-radius: 16px;
  color: #fff !important;
  font-size: 12px !important;
}
.gridTable .MuiPaginationItem-page {
  background-color: #fff !important;
  border-radius: 16px !important;
  color: #000 !important;
  font-size: 12px !important;
}
.gridTable .tableRowsDdl .MuiInputBase-root {
  line-height: 0 !important;
}
.gridTable .tableRowsDdl .MuiSelect-select.MuiSelect-select {
  padding-right: 12px;
  font-size: 12px;
  border: none;
  padding-left: 4px;
}
.gridTable .tableRowsDdl .MuiSvgIcon-root {
  width: 18px;
  height: 24px;
  font-size: 16px;
}
.gridTable .tableRowsDdl {
  margin: 0 4px !important;
}
.gridTable .MuiPagination-root {
  float: right;
}
.gridTable .gridRadioFilter .MuiTypography-body1 {
  font-size: 13px !important;
}
.gridTable .gridRadioFilter .MuiButtonBase-root {
  padding: 0 10px !important;
}
.gridTable .MuiTableCell-root {
  font-size: 13px !important;
}
.gridTable .paginationSection {
  margin-top: 16px;
}
.gridTable .actionCell {
  position: relative;
}
.gridTable .hoverIcon .tableEditIcon {
  display: none;
  position: absolute;
  right: 24px;
  top: 55%;
  cursor: pointer;
  transform: translate(0, -50%);
}
.gridTable .hoverIcon .tableDeleteIcon {
  display: none;
  position: absolute;
  right: 8px;
  top: 55%;
  cursor: pointer;
  transform: translate(0, -50%);
}
.gridTable .hoverIcon:hover .tableEditIcon {
  display: table;
}
.gridTable .hoverIcon:hover .tableDeleteIcon {
  display: table;
}
.gridTable .tableRowsDdl .MuiSelect-selectMenu {
  min-height: 0 !important;
}
