.css-yk16xz-control,
.css-1pahdxg-control {
  min-height: 0 !important;
  height: 32px !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #cccccc !important;
  box-shadow: none !important;
  background-color: initial !important;
  cursor: pointer;
}
.css-1okebmr-indicatorSeparator {
  display: none !important;
}
.css-tj5bde-Svg {
  color: #000000 !important;
  width: 14px !important;
}
