.bg-home {
    background: url('../../assets/images/bg.png') center center;
}

.bg-half-260 {
    padding: 80px 0;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center;
}

#home .title-heading .heading {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
}

#home .title-heading .para-desc {
    font-size: 18px;
    max-width: 600px;
    color: #fff;
    margin-bottom: 20px;
}

.bg-white {
    background: white;
}

.py-3 {
    padding: 50px 0;
}

#home .section-title h3,
#home .section-title p,
#contact {
    text-align: left;
}

#contact .card {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#home .section-title h3 {
    margin-top: 100px;
}

#home .section-title p {
    font-size: 16px;
    line-height: 24px;
}

#home .features {
    margin-bottom: 30px;
}

#home .avatar.avatar-small {
    height: 65px;
    width: 65px;
}

#home .para-desc {
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 16px;
}