#login .container {
    display: table;
    width: 100%;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#login .row1 {
    height: 100%;
}

#login .row1 .col-1 {
    height: 100%;
    width: 70%;
    float: left;
}

#login .row1 .col-2 {
    height: 100vh;
    background: #fff;
    ;
}

@media (min-width: 992px) .row .no-float {
    display: table-cell;
    float: none;
}

#login .overlay-bg {
    background: linear-gradient( 120deg, #593b7bde 20%, #ec5252ba 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    padding: 0;
    left: 0;
}

#login .left-bg {
    background: url('../../assets/images/jeweleasy.jpg') center center no-repeat;
    height: 100vh;
    background-size: cover;
}

#login .left-bg img {
    margin-top: 200px;
}


/* #login .left-bg img {
    position: absolute;
    z-index: 2;
} */

#login .login-panel,
#login .login-panel2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#login .panel2 {
    width: 280px;
    box-shadow: 1px 1px 12px 0px #eaeaea;
    padding: 40px 30px;
    border-radius: 20px;
    position: relative;
}

#login .panel2 h3.panel-title {
    margin-bottom: 10px;
    display: block;
}

#login .login-icon {
    position: absolute;
    top: -25px;
    right: 30px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    color: #7e57c2;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    box-shadow: 1px 1px 12px 0px #eaeaea;
    text-align: center;
    font-size: 28px;
}