.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.MuiAutocomplete-inputRoot[class*="MuiInput-root"] .MuiAutocomplete-input:first-child {
    padding: 8px 0 9px 0 !important;
}

.invalid-feedback {
    font-size: 10px;
    padding-top: 0;
}

.p-3 {
    padding: 10px;
}

.mt-2 {
    margin-top: 10px;
}

.position-relative {
    position: relative;
}

.removeBtn {
    position: absolute;
    right: 0;
    top: 0px;
}
.addBtn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.MuiInputBase-root {
    font-family: 'Exo 2', sans-serif;
}

.MuiAutocomplete-popper {
    font-size: 12px !important;
}

.react-daterange-picker__wrapper {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}