.language-chooser{
    color: #fff !important;
    font-size: 12px !important;
}
.language-options{
    font-size: 12px !important;
}
.invalid-feedback{
    color: #f70601;
    font-weight: 500;
    line-height: 15px;
    padding-top: 10px; 
  }
div.form-pnel-container {
    display:block;
    transition: all .2s ease-out;
    opacity: 1;
   }
   
div.collapse-panel {
    opacity: 0;
    display:none;
   }
div.innerLeftNav.hideSecondMenu{
    width: 0%;
}
div.innerRightCntnt.fullWidthRightCntnt{
    width: 100%;
}